
.cardlist {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
  }
  @media screen and (min-width: 768px) {
    .cardlist {
      grid-template-columns: repeat(3, 1fr);
      /* align-items: start; */
    }
  }
  section{
    padding-top:100px;
  }
  .item{
    display:block-inline;
  }
  .item h2{
    margin-left:0vw;
    float:left;
    font-weight: bold;
  
  }
  .item label{
    float:left;
    margin-left:80vw;
    margin-top:2vh;
  
  }
  .item select{
    float:right;
    margin-right:2vw;
    margin-top:1vh;
    height:5vh;
    width:13vw;
    /* background-color: #c8e9ca; */
    border:0px;
    outline: none!important;
  
  }
  *:focus {
    outline: none;
  }
  
  #sortby{
    border-radius: 20vw;
    color:rgba(53, 112, 160, 0.945);
    font-weight: bold;
  }